<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mental Health Counseling System</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body style="background-color: lavender">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white" href="#">MHCS | Appointments</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav text-white ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/doctor">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctor/settings">Settings</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/appointment" >Appointments and Schedule</a>
                </li>
                <li>
                    <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li>
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid mt-2 text-center">
    <div class="row">
        <div class="col-12 col-md-12 offset-md-0">
            <div class="card">
                <table class="table table-hover table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>Patient Id</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Schedule</th>
                            <th colspan="2">Action</th>
                            <th>Session options</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       <%for (var i =0; i<results.length;i++){%>
                           <tr>
                               <td><%=results[i].p_id%></td>
                               <td><%=results[i].description%></td>
                               <td><%=results[i].status%></td>
                               <td><%=results[i].scheduled_date%></td>
                               <td colspan="2"><button class="btn btn-success <%=results[i].disable%> accept" <%=results[i].disable%> name="accept" id="accept" data-toggle="modal" data-target="#accept<%=results[i].id%>">Accept</button>
                               <button class="btn btn-danger <%=results[i].disable%> decline" <%=results[i].disable%> name="decline" id="decline"data-toggle="modal" data-target="#decline<%=results[i].id%>">Decline</button> </td>
                               <td>

                                    <a class="btn btn-primary chat_session <%=results[i].start%>" <%=results[i].start%> href="/chat/session/<%=results[i].p_id%>">Start Chat Session</a>

                               </td>
                               <td><button class="btn btn-primary viewProfile" value="<%=results[i].p_id%>">View Profile</button>  </td>
                           </tr>
                      <% }%>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-auto">
        </div>
    </div>
    <%for (var i =0; i<results.length;i++){%>
    <div class="modal fade" id="accept<%=results[i].id%>" tabindex="-1" aria-labelledby="accept<%=results[i].id%>Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accept<%=results[i].id%>Label">Schedule the session</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/appointment/accept/<%=results[i].id%>">
                        <div class="form-group">
                            <label for="scheduled_date">Date</label>
                            <input type="datetime-local" name="scheduled_date" class="form-control"/>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-success" value="Done"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    <%for (var i =0; i<results.length;i++){%>
    <div class="modal fade" id="decline<%=results[i].id%>" tabindex="-1" aria-labelledby="decline<%=results[i].id%>Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="decline<%=results[i].id%>Label">Are you sure to decline?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a  class="btn btn-primary text-decoration-none" href="/appointment/decline/<%=results[i].id%>">Decline</a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Patient Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <div id="profileContent">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<script type="application/javascript" src="/popper/popper.min.js"></script>
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/appointmentScript.js"></script>
</body>
</html>
